
    <div class="card">
        <div class="card-header">
          <strong>BANK DETAILS</strong> Form
        </div>
        <form [formGroup]="PopupForm" (ngSubmit)="onSubmit()" class="form-horizontal"  class="was-validated">
          <div class="card-body">
        
            <div class="form-group row">
              <label class="col-md-3 col-form-label" for="Account Number">Account Number</label>
              <div class="col-md-9">
              <input type="text" class="form-control" id="Account Number" required>
              
            </div></div>
            <div class="form-group row">
              <label class="col-md-3 col-form-label" for="ReferenceNumber">Institutions Name</label>
              <div class="col-md-9">
              <input type="text" class="form-control" id="InstitutionsName" required>
              
            </div></div>
            <div class="form-group row">
              <label class="col-md-3 col-form-label" for="Allias">Allias</label>
              <div class="col-md-9">
              <input class="form-control" id="Allias" type="TEXT" name="Allias"  required>
            </div></div>
            <div class="form-group row">
              <label class="col-md-3 col-form-label" for="Nationality">Account Type</label>
              <div class="col-md-9">
                <input class="form-control" id="AccountType" type="TEXT" name="AccountType"  required>
            </div></div>
           
            <div class="form-group row">
                <label class="col-md-3 col-form-label" for="BranchCode">Branch Code</label>
                <div class="col-md-9">
                  <input class="form-control" id="BranchCode" type="TEXT" name="BrancHCode"  required>
              </div></div>
          </div>
        </form>
      </div>
    
  